{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
{% include "includes/navbar.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "includes/sidebar.html" %}
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>employees</h1>
            {% include "includes/flashed_messages.html" %}
            
            <h2>List of employees <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#employee">New employee</button></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Total Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td><a href="{{ url_for('employee_permalink', employee_id=employee.id) }}">{{ employee.id }}</a></td>
                            <td><a href="{{ url_for('employee_permalink', employee_id=employee.id) }}">{{ employee.name }}</a></td>
                            <td>{{ employee.total_amount_paid }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

{% include "includes/employee_modal.html" %}
{% endblock %}