{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container-fluid">
    <form method="post">
        {% include "includes/flashed_messages.html" %}

        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Enter username") }}
            
            {% if form.username.errors %}
            {% for error in form.username.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Enter password") }}

            {% if form.password.errors %}
            {% for error in form.password.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
        </div>
        {{ form.login(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_form.css') }}">
{% endblock %}